<!DOCTYPE html>
<html>
<head>
<style>
.container {display: flex;
align-items: center;
flex-wrap: wrap;}
</style>
</head>
<body style="background: #282828">
<div class="container">
<img src="http://192.168.1.18/zm/cgi-bin/nph-zms?scale=64&width=1280px&height=720px&mode=jpeg&maxfps=30&monitor=3&user=ViewOnly&pass=*****" >
<img src="http://192.168.1.18/zm/cgi-bin/nph-zms?scale=50&width=1920px&height=1080px&mode=jpeg&maxfps=30&monitor=1&user=ViewOnly&pass=*****" >
<img src="http://192.168.1.18/zm/cgi-bin/nph-zms?scale=64&width=1280px&height=720px&mode=jpeg&maxfps=30&monitor=5&user=ViewOnly&pass=*****" >
<img src="http://192.168.1.18/zm/cgi-bin/nph-zms?scale=64&width=1280px&height=720px&mode=jpeg&maxfps=30&monitor=7&user=ViewOnly&pass=*****" >
<img src="http://192.168.1.18/zm/cgi-bin/nph-zms?scale=64&width=1280px&height=720px&mode=jpeg&maxfps=30&monitor=9&user=ViewOnly&pass=*****" >
</div>
</body>
</html>
